.connect-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 20px;
}

.form {
    font-family: Buenard, serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures everything inside is centered */
    margin-top: 75px;
    width: 45%;
}

.form input,
.form textarea {
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Buenard, serif;
    width: 100%; /* Makes input fields match the form width */
}

.form textarea {
    height: 150px; /* Adjust the height to make it more like a box */
    resize: none;
}

.button {
    width: 200px;
    background-color: whitesmoke;
    cursor: pointer;
    margin-top: 15px; /* Adds spacing from textarea */
    align-self: center; /* Centers the button inside the flex container */
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}


.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}