.image-container {
    display: flex; 
    justify-content: center;  
    gap: 100px;  
    margin-top: 35px;
}

.image-item {
    text-align: center;  /* Centers the image, h4, and link */
}

.image-item img {
    height: 200px;
    width: 200px;
    display: block; 
    border-radius: 0; 
    margin: 0 auto;  /* Centers the image */
}

.image-item h4 {
    margin-top: 10px;
    font-size: 18px;
}

.image-item a {
    display: block;
    margin-top: 5px;
    color: black;
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 15px;
}
.underline1 {
    display: block;
    border-bottom: 1px solid #000; /* Underline the text */
    margin-top: 20px; /* Space between link and underline */
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Ensure it doesn't overflow */
    margin-left: 0; /* Align to the left */
  }
  
.skill {
    display:flex;
    place-content: center;
    margin-top: 20px;  /* Adds space from top */
}

.list {
    text-align: center; 
    place-content: center;
    margin-left: -10px;
    margin-top: 15px; /* Adds space below images */
    column-width: 250px;
}
.underline2 {
    display: block;
    border-bottom: 1px solid #000; /* Underline the text */
    margin-top: 10px; /* Space between link and underline */
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Ensure it doesn't overflow */
    margin-left: 0; /* Align to the left */
  }
  
  .link {
    display: flex; 
    justify-content: center; 
    margin-top: 15px;
    color: black;
    text-decoration: underline;
    font-size: 18px;    
}