.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 5px 7%;
}

.logo{
    font-family: "MonteCarlo", serif;
    font-size: 36;
    padding: 7px 7%;
    text-decoration: none;
    color:inherit;
    font-weight: lighter;
}

ul li {
    display: inline-block;
    margin: 10px 100px;
    font-size: 24;
    cursor: pointer
}

a {
    text-decoration: none;
    color: inherit; 
    font-weight: inherit; 
    transition: color 0.3s ease;
}